* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    width: 100vw;
    height: 100vh;
    background:  #c8eae3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
    position: sticky;
    justify-content: space-between;
    font-size: 1.5em;
    text-decoration: none;
    padding: 20px 20px;
    background: #d0f1ed;
    color: #306961;
}

h3 {
    font-family: 'Allura', cursive;
    margin-left: 180px;
    background: #d0f1ed;
}

small {
    font-size: 0.5em;
}

nav {
    position: sticky;
    align-items: center;
    background: #d0f1ed;
}

nav a {
    color: #306961;
    text-decoration: none;
    padding-left: 50px;
    font-size: 0.5em;
    transform: 0.2s;
    background: #d0f1ed;
}

h3 i{
    color: #d0f1ed;
    background: #306961;
    border-radius: 50%;
    transition: 0.2s;
}

nav a:hover{
    background: #306961;
    color:  #d0f1ed;
    padding: 15px 15px;
    font-size: 0.7em;
    border-radius: 8px;
    cursor: pointer;
}


#btnHeader a,
button {
    background: #306961;
    display: block;
    color: #d0f1ed;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    border: none;
    transition: 0.2s;
}

#btnHeader i:hover {
    background: #d0f1ed;
    color: #306961;
    border: none;
    border-radius: 20px;
}

#btnHeader a:hover,
header button:hover,
#btnHeader i:hover{
    background: #d0f1ed;
    color: #306961;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.homepage1,
.homepage2 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #306961;
    font-family: Arial, Helvetica, sans-serif;
    gap: 40px;
    padding: 30px;

}

.homepage2{
    margin-bottom: 50px;
}

.homepage1 h1 {
    font-size: 12em;
    font-weight: 500;
    text-shadow: 10px 10px 10px #306961;
}

.homepage2 h1 {
    font-size: 12em;
    font-weight: 500;
    text-shadow: 10px 10px 10px #306961;
}

#homeSlide {
    font-size: 1.5em;
    text-align: right;
    width: 80%;
    color: #306961;
  }

.homepage img{
    height: 275px;
    border-radius: 38px;
    box-shadow: 10px 10px 10px 0 #306961;
}

#smallIcon1 {
    width: 50px;
    height: 50px;
    background: rgba(135, 207, 235, 0.746);
    position: absolute;
    top: 17%;
    left: 40%; /* Adjust the left position based on your design */
    transform: translateX(-50%);
    border-radius: 5px;
}

#smallIcon2 {
    width: 50px;
    height: 50px;
    background: rgba(255, 217, 0, 0.555);
    position: absolute;
    border-radius: 5px;
    top: 30%;
    left: 60%; 
}
#smallIcon3 {
    margin-left: 50%;
    width: 50px;
    height: 50px;
    background: #49bf949b;
    border-radius: 5px;
}

.container {
    /* max-height: 100vh; */
    margin: 10px;
}

.gallery{
    width: 1000px;
    display: flex;
    overflow-x: scroll;
}

.gallery div{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img{
    width: 250px;
    filter: grayscale(100%);
    transition: transform 0.5s;
}

.gallery::-webkit-scrollbar{
    display: none;
}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn,#nextBtn{
    width: 80px;
    height: 80px;
    cursor: grab;
    margin: 40px;
}

.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.aKittens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.aKittens p{
    color: #306961;
    padding: 50px;
    font-weight: 700;
    font-size: 2em;
}

#food{
    width: 100px;
    height: 100px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    cursor: grab;
    transition: 0.5s;
}

.panel{
    width: auto;
}

.panel h1{
    display: block;
    font-size: 5em;
    margin-top: 150px;
    text-align: center;
    text-shadow: 10px 10px 10px #306961;
    color: #306961;
  }

.panel img{
    margin-top: 30px;
    height: 300px;
    width: 200px;
  }  
 
#footer{
    position: relative;
    background: #220e31;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutUs{
    width: 40%;
}

.aboutUs p{
    opacity: 70%;
    font-size: 0.7em;
}

.available{
    font-size: 0.85em;
    
}

ul{
    list-style-type: none;
    line-height: 27px;
    font-size: 0.8em;
    opacity: 70%;
}

.rights{
    width: 86%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    font-size:0.7em;
   
}

